@{
    ViewBag.Title = "Chính Sách Bảo Mật Thông Tin";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}
<div style="line-height:1.7; font-size:16px; color:#f1f1f1; background:#1a1a1a; padding:25px; border-radius:8px;">
    <h3>Chính Sách Bảo Mật Thông tin Khách Hàng</h3>
    <p>
        Bảo mật thông tin khách hàng là một trong những ưu tiên nhằm tạo điều kiện mua hàng tại Soccersotre.vn.
        Chúng tôi hiểu sự sử dụng hợp lý và bảo mật thông tin sẽ thể hiện sự quan tâm của Soccersotre.vn dành cho bạn.
        Vì thế, Soccersotre.vn cam kết việc sử dụng thông tin trên sẽ chỉ nhằm nâng cao chất lượng dịch vụ khách hàng.
    </p>

    <h3>1. Mục đích thu thập thông tin:</h3>
    <ul>
        <li>Cung cấp một số tiện ích nhằm nâng cao chất lượng dịch vụ hỗ trợ khách hàng.</li>
        <li>Giải quyết các vấn đề, tranh chấp phát sinh liên quan đến việc sử dụng website Soccersotre.vn.</li>
        <li>Ngăn chặn những hoạt động vi phạm pháp luật Việt Nam.</li>
        <li>Soccersotre.vn cam kết không bán, chia sẻ hay trao đổi thông tin cá nhân của bạn vì mục đích thương mại.</li>
        <li>Chúng tôi nghiêm cấm việc phát tán, truyền bá hay cổ vũ hoạt động phá hoại hay xâm nhập trái phép vào hệ thống dữ liệu.</li>
        <li>Trong trường hợp pháp luật yêu cầu, Soccersotre.vn buộc phải cung cấp thông tin cho cơ quan có thẩm quyền.</li>
        <li>Mọi thắc mắc hoặc góp ý liên quan đến chính sách, vui lòng liên hệ qua email: <b>info@soccersotre.vn</b></li>
    </ul>

    <h3>2. Phạm vi thu thập thông tin:</h3>
    <p>Chúng tôi thu thập thông tin khách hàng đã cung cấp để xử lý đơn đặt hàng, cung cấp dịch vụ hoặc yêu cầu qua website và theo nhu cầu của bạn.</p>

    <h3>3. Thời gian lưu trữ thông tin:</h3>
    <ul>
        <li>Thông tin cá nhân sẽ được lưu trữ khi bạn tạo đơn hàng gần nhất.</li>
        <li>Chi tiết các giao dịch sẽ được lưu giữ trong suốt quá trình hoạt động của website.</li>
        <li>Bạn có quyền truy cập website mà không cần cung cấp chi tiết cá nhân.</li>
    </ul>

    <h3>4. Địa chỉ thu thập và quản lý thông tin:</h3>
    <p>Website duy nhất: <b>www.soccersotre.vn</b></p>

    <h3>5. Phương tiện và công cụ để khách hàng quản lý dữ liệu của mình:</h3>
    <p>
        Tài khoản và mật khẩu do khách hàng tự quản lý.
        Bạn phải bảo mật mật khẩu. Nếu mật khẩu bị lộ, chúng tôi không chịu trách nhiệm.
        Khi muốn chỉnh sửa thông tin cá nhân, bạn đăng nhập vào tài khoản trên website để thay đổi.
    </p>

    <h3>6. Cam kết:</h3>
    <p>
        Chúng tôi coi trọng việc bảo mật và sẽ dùng các biện pháp tốt nhất để bảo vệ thông tin của bạn.
        Chúng tôi cam kết thực hiện đầy đủ quy định pháp luật về bảo mật thông tin.
    </p>

</div>
