@{
    ViewBag.Title = "Chính Sách Đổi Trả";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}

<div class="container text-white mt-4">

    <h2 class="text-center mb-2" style="font-weight:700; color:#e8e600;">
        Cam kết dịch vụ tốt nhất
    </h2>

    <p class="text-center mb-4" style="max-width:900px; margin:0 auto;">
        Tại Soccestore.vn, chúng tôi luôn nỗ lực đem lại trải nghiệm mua sắm tuyệt vời nhất.
        Để mỗi sản phẩm tới tay quý khách hàng luôn là ưng ý nhất, Soccer Store triển khai combo gói dịch vụ tốt nhất,
        lần đầu tiên tại Việt Nam.
    </p>

    <div class="row justify-content-center g-4">

        <div class="col-md-3 d-flex justify-content-center">
            <img src="~/Content/Images/csdt1.jpg" class="cs-img-small" />
        </div>

        <div class="col-md-3 d-flex justify-content-center">
            <img src="~/Content/Images/csdt2.jpg" class="cs-img-small" />
        </div>

        <div class="col-md-3 d-flex justify-content-center">
            <img src="~/Content/Images/csdt3.jpg" class="cs-img-small" />
        </div>

    </div>

    <div class="row justify-content-center g-4 mt-4">

        <div class="col-md-3 d-flex justify-content-center">
            <img src="~/Content/Images/csdt4.jpg" class="cs-img-small" />
        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <img src="~/Content/Images/csdt5.jpg" class="cs-img-large" />
        </div>

    </div>

</div>

<style>
    .cs-img-small {
        width: 100%;
        max-width: 260px; 
        border-radius: 6px;
        display: block;
    }

    .cs-img-large {
        width: 100%;
        max-width: 430px;
        border-radius: 6px;
        display: block;
    }
</style>
