@{
    ViewBag.Title = "Hướng dẫn chọn size giày đá bóng chính hãng";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}

<h2 class="text-center mt-4 mb-4 text-white" style="font-weight:700;">
    HƯỚNG DẪN CHỌN SIZE GIÀY ĐÁ BÓNG CHÍNH HÃNG
</h2>

<div class="container d-flex justify-content-center">
    <div style="max-width: 1000px; width:100%; color:white; font-size:16px; line-height:1.8;">

        <p>
            <b>Lưu ý:</b> Mỗi hãng giày đều có form dáng riêng, vì vậy việc chọn size giày có thể khác nhau.
            Với kinh nghiệm 10 năm tư vấn bán hàng, chúng tôi luôn sẵn sàng tư vấn size chuẩn xác nhất.
        </p>

        <h4 style="font-weight:700;" class="mt-4">Cách chọn size giày đá bóng:</h4>

        <h4 style="color:#ffeb3b; font-weight:700;" class="mt-3">Cách 1: Nhanh nhất – Chuẩn nhất</h4>

        <p>Hỏi tư vấn trực tiếp từ Soccestore.vn, chúng tôi làm việc 24/24, hỗ trợ ngay qua các kênh chính thức.</p>

        <div class="text-center my-4">
            <img src="~/Content/Images/huongdanmuahang.jpg"
                 class="img-fluid"
                 style="max-width:900px; width:100%; border-radius:8px;">
        </div>

        <h4 style="color: #ffeb3b; font-weight:700;" class="mt-4">Cách 2: Tự đo chân và lựa chọn size giày</h4>

        <p><b>Lưu ý:</b> Cách này sai số nhiều nếu đo sai hoặc không quen đo. Nếu chân bè có thể cộng thêm 1 size.</p>

        <p><b>Bước 1: Đo thật chính xác chiều dài và chiều rộng bàn chân</b></p>

        <ul>
            <li>Đo chiều dài bàn chân xác định bởi đường kẻ ngang cắt gót chân và đường kẻ ngang cắt ngón chân dài nhất.</li>
            <li>Đo chiều rộng bàn chân xác định bởi đường kẻ ngang giữa phần rộng nhất của bàn chân.</li>
        </ul>

        <div class="row text-center justify-content-center mb-5">
            <div class="col-md-6 mb-3">
                <img src="~/Content/Images/chan1.png"
                     class="img-fluid"
                     style="max-width:350px;">
            </div>

            <div class="col-md-6 mb-3">
                <img src="~/Content/Images/chan2.png"
                     class="img-fluid"
                     style="max-width:350px;">
            </div>
        </div>

        <p><b>Bước 2:</b> Khi có các thông số rồi thì dùng công thức sau để tính size giày đá bóng:</p>

        <p><b>Size giày đá bóng = chiều dài bàn chân + 1cm</b></p>

        <p>
            (Ví dụ: bạn đo được chiều dài là 26cm thì bạn cần tra bảng size tương đương với cột CM là 26+1 = 27cm)
        </p>

        <p><b>Lưu ý:</b> Nếu bạn muốn mang ôm sát chân thì có thể chỉ cần +0.5cm</p>

        <p><b>Bước 3:</b> Đối chiếu với bảng size giày của hãng để tìm ra size của mình</p>


        <h3 class="mt-5 mb-3" style="font-weight:700;">Bảng size giày đá bóng chính hãng Nike</h3>

        <div class="row text-center justify-content-center">
            <div class="col-md-6 mb-4">
                <img src="~/Content/Images/chan3.png"
                     class="img-fluid"
                     style="max-width:380px;">
            </div>

            <div class="col-md-6 mb-4">
                <img src="~/Content/Images/chan4.png"
                     class="img-fluid"
                     style="max-width:380px;">
            </div>
        </div>


        <h3 class="mt-5 mb-3" style="font-weight:700;">Bảng size giày bóng đá chính hãng Adidas</h3>

        <div class="row text-center justify-content-center">
            <div class="col-md-6 mb-4">
                <img src="~/Content/Images/chan5.png"
                     class="img-fluid"
                     style="max-width:380px;">
            </div>

            <div class="col-md-6 mb-4">
                <img src="~/Content/Images/chan6.png"
                     class="img-fluid"
                     style="max-width:380px;">
            </div>
        </div>

    </div>
</div>

<br>
<br>
